/*styled links in projects*/
.projects tr {
    cursor:pointer;
}
.projects a {
    color: #333;
    text-decoration:none;
    cursor:pointer;
}

#settingsModal .modal-body {
    /*padding: 0;*/
}

.news .date {
    font-size:0.8em;
}
.news .content {
    border-top:1px dashed #ddd;
}