{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Eremeev Anton aka VersouL">
    <meta name="description" lang="ru" content="Данный сайт собирает все freelance проекты в одном месте
     с возможностью фильтровать их по категориям и ключевым словам. Новые проекты появляются в ленте
      в режиме реального времени без необходимости постоянно обновлять страницу, что поможет вам не
       упустить интересующий вас проект и овтетить на него первым ">
    <meta name="keywords" lang="ru" content="4lance, alllance, фриланс, фрилансер, фриланс работа, работа фрилансером, freelancer, freelance">


    <title>Агрегатор фриланс проектов</title>
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <script src="/static/lib/jquery-3.2.1.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="/static/js/main.js"></script>
    <!--<script src="/lib/highcharts/highcharts.js"></script>
    <script src="/lib/highcharts/modules/exporting.js"></script>-->
</head>

<body>
{{template "header" .}}
{{template "content" .}}
{{template "metrics" .}}
</body>
</html>
{{end}}

{{define "metrics"}}
{{end}}
{{define "content"}}
{{end}}
