{{define "header"}}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><!--{{.Title}}-->4lance</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Нет уведомлений</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#settingsModal">
                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                        Настройка бирж
                    </a>
                </li>
                <li><a href="/admin/">Админка</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">


                <li id="login-dropdown-list" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        versoul@rambler.ru

                        <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu">





                        <button class="btn btn-default btn-block" id="login-buttons-open-change-password">Change password</button>


                        <button class="btn btn-block btn-primary" id="login-buttons-logout">Sign out</button>


                    </div>
                </li>

                <!-- here -->
            </ul>
        </div>
    </div>
</nav>
{{end}}