{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <table class="projects table table-condensed">
                <tbody>
                {{range $i, $v := .projects}}
                <tr data-id="{{$v._id}}" class="">
                    <td><img src="/img/site" alt="" /></td>
                    <td>
                        <a href="{{$v.projectLink}}" title="">
                            {{$v.projectTitle}}
                        </a>
                    </td>
                    <td class="nowrap hidden-xs">{{$v.projectPrice}}</td>
                    <td class="nowrap hidden-xs">{{$v.projectDate}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
        <div class="hidden-xs col-md-3">
            Projects: {{.count}}
        </div>
    </div>
</div>
{{end}}