{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <ul style="margin-top:0; margin-bottom:5px;" class="pagination pagination-sm pull-right">
                <li>
                    <a href="{{.pagination.prev}}">&laquo;</a>
                </li>
                {{range $i, $v := .pagination.pages}}
                <li {{if $v.active}}class="active"{{end}}>
                    <a href="{{$v.num}}">{{$v.num}}</a>
                </li>
                {{end}}
                <li>
                    <a href="{{.pagination.next}}">&raquo;</a>
                </li>
            </ul>
            <table id="projectsList" class="projects table table-condensed">
                <tbody>
                {{range $i, $v := .projects}}
                <tr data-id="{{$v._id}}" data-description="{{$v.projectDescription}}" class="">
                    <td><img src="/static/img/{{.projectIcon}}" alt="" /></td>
                    <td>
                        <a rel="nofollow" href="{{$v.projectHref}}" title="">
                            {{$v.projectTitle}}
                        </a>
                    </td>
                    <td class="nowrap hidden-xs">{{$v.projectPrice}}</td>
                    <td class="nowrap hidden-xs col-md-2">{{$v.projectDate}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
        <div class="hidden-xs col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-9">Всего проектов:</div>
                        <div class="col-xs-3">{{.count}}</div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Новости
                </div>
                <div class="panel-body news">
                    <div>
                        <div class="date">12.07.2017</div>
                        <div class="content">
                            Добавлена возможность фильтровать проекты по категориям
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="projectModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Название модали</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <a target="_blank" class="btn btn-primary" id="toProjectBtn" href="#">Перейти</a>
            </div>
        </div>
    </div>
</div>
<div id="settingsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Настройки</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <!--<li class="active"><a href="#settings" data-toggle="tab">Настройки</a></li>-->
                    <li class="active"><a href="#fl" data-toggle="tab">fl</a></li>
                    <li><a href="#wl" data-toggle="tab">wl</a></li>
                </ul>

                <div class="tab-content">
                    <!--<div class="tab-pane active" id="settings">
                        <label id="header-tegs">Укажите ключевые слова через запитую</label>
                        <input id="tags" type="text" class="tags" value="android,Теги,для,демонстрации,нужно,их,будет,потом,удалить,из,input,JavaScript,ruby,kindle,js,go,cc,Golang"/>
                    </div>-->
                    {{range $i, $v := index .categories 0}}
                    {{if ne $i "_id"}}
                    <div class='tab-pane {{if eq $i "fl"}}active{{end}}' id="{{$i}}">
                        <h4>Категории</h4>
                        <div class="panel-group categoriesContainer">
                            {{range $ii, $vv := $v}}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{$vv.tid}}">
                                            {{$vv.name}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{$vv.tid}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{range $iii, $child := $vv.childs}}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="{{$child.tid}}" {{if $child.activ}}checked{{end}}>
                                                {{$child.name}}
                                            </label>
                                        </div>
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button id="settingsModalSaveBtn" type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>
{{end}}